// Couleurs globales
$primary-color-home: #00A8FF;
$secondary-color-home: #F0F0F0;
$accent-color-about: #FFD700;
$background-color-about: #333333;

// Couleurs par catégorie de quiz
$sw-primary: #003366;
$sw-secondary: #FFD700;
$sw-accent: #A9A9A9;

$dbz-primary: #F77F00;
$dbz-secondary: #003049;
$dbz-accent: #FFD700;

// ** Polices (avec Google Fonts)

/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@400;700&family=Press+Start+2P&display=swap');

/* Polices */
$font-primary: 'Bangers', sans-serif;  
$font-secondary: 'Roboto', sans-serif;  
$font-accent: 'Press Start 2P', cursive;  // Police d'accent pour les éléments stylisés

// ** Taille et espacements
$padding-base: 20px;
$margin-base: 20px;

$button-padding: 12px 24px;
$button-radius: 8px;
$font-size-base: 16px;
$font-size-heading: 2rem;


// ** Ombres et bordures
$box-shadow-light: 0 4px 10px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 4px 20px rgba(0, 0, 0, 0.2);

// ** Transitions et effets
$transition-fast: 0.2s ease-in-out;
$transition-medium: 0.3s ease-in-out;
$transition-slow: 0.5s ease-in-out;
